<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
                <a href="<%=root_path%>"><%=image_tag 'logo.png', :width => 200%></a>
                <ul class="nav masthead-nav glow">
                <li><a href="#">The Mission</a></li>
                <li><a href="#">The Team</a></li>
              </ul>
            </div>
          </div>
          <div class="inner cover">
          	<h1 class="counter">142,893</h1>
          	<p class="sub-counter">numbers inflationated</p>
          </div>
          <div class="separator" /></div>

          <!-- insert video -->
          <div>
          	<iframe width="350" height="262.5" class="intro-video" src="//www.youtube.com/embed/YY6kElOYcd8?showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
         <div class="separator" /></div>
          <!-- insert text box -->

          <textarea id="input" class="textbox">
  			</textarea> <a id="inflationate" class="btn-default" href="#">Inflationine!</a>
			<div class="separator"></div>
			
			<div id="output"> </div>
        </div>
      </div>
    </div>

    <!-- insert social page section -->
	<!-- insert team page section -->