<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix" style="margin-bottom: 20px;">
        <div class="inner">
            <a href="<%=root_path%>"><%=image_tag 'logo.png', :width => 200%></a>
            <ul class="nav masthead-nav glow">
            <!-- <li><a href="#">The Mission</a></li>
            <li><a href="#">The Team</a></li> -->
            <li><a href="http://teespring.com/inflationatr" style="font-weight: bold; font-size: 18px;" target="_blank">Think of the children</a></li>
          </ul>
        </div>
      </div>
      <div class="inner cover">
      	<h1 class="counter"><%= number_with_delimiter(@count, :delimiter => ',') %></h1>
      	<p class="sub-counter">numbers inflationated</p>
      </div>
      <div class="separator" /></div>
      <!-- insert video -->
      <div>
        <iframe width="350" height="262.5" src="//www.youtube.com/embed/YY6kElOYcd8" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="separator" /></div>
      <div style="margin: 20px;">
        Try it out!
      </div>

      <div class="texts-holder">
        <a data-text="gettysburg" class="btn btn-default btn-large btn-text" href="#">Gettysburg Address</a>
      </div>

      <div class="texts-holder">
        <a data-text="hamlet" class="btn btn-default btn-large btn-text" href="#">To be or not to be</a>
      </div>

      <div class="texts-holder">
        <a data-text="frost" class="btn btn-default btn-large btn-text" href="#">Robert Frost</a>
      </div>

      <div style="margin: 20px;">
        Or type your own :)
      </div>
      <div class="separator" /></div>

      <!--- input output boxes -->

      <div class="translate">
        <textarea id="input" class="translation-box tr-input scrollbox" placeholder="type your text here"></textarea>
        <div id="output" class="translation-box tr-output scrollbox"></div>
      </div>
      <div class="fourpercent"></div>
      <div>
        <a id="inflationate" class="btn-default btn-outline" href="#">Inflationine!</a>
      </div>
      <br>
      <div id="output"> </div>

      <p class="submit-warning"> Did one of your words not Inflationate? <a href="" id="clickToCorrectWord">Click me </a> to submit it!</p> 
      <div class="separator"></div>

      <!--- insert google form for missing words -->
      <div class="googleFormToCorrectWord" style="display: none;"> 
        <form action="https://docs.google.com/forms/d/1ur4D8E8PZD7TI3vrKwssTs9-Rw9zUTKdqkX8c-oAjLg/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
          <ol role="list" class="ss-question-list" style="padding-left: 0">
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text">
                <div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_242232634"></label>
                  <input type="text" name="entry.242232634" value="" class="ss-q-short" id="entry_242232634" dir="auto" aria-label="What word did I sadly not inflationate for you? I&#39;m sorry :&#39;( I&#39;m new at this. " title="">
                  <input type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-default btn-large" style="cursor: pointer;">
                  <div class="error-message" id="565814671_errorMessage"></div>
                </div>
              </div>
            </div>
            <input type="hidden" name="draftResponse" value="[,,&quot;2766345391749529387&quot;]">
            <input type="hidden" name="pageHistory" value="0">
            <input type="hidden" name="fbzx" value="2766345391749529387">
            <div class="ss-item ss-navigate">
              <table id="navigation-table">
                <tbody>
                  <tr>
                    <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ol>
        </form>
      </div>
      <!--- end google form -->
    </div>
  </div>
</div>
